:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: rgb(250, 250, 250);
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  width: 320px;
  height: 100vh;
  text-align: center;
  margin: 0 auto;  
}

#app {
  width: 100%;
}

h3, p, ul {
  margin: 0;
}

ul {
  padding-left: 16px;
}