:root {
  --main-bg: #fafafa;
  --main-color: #f23c32;
  --black-color: #000000;
  --disabled-bg: #c8c8c8;
  --disabled-color: #969696;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --main-border: 2px solid var(--main-color);
  --secondary-border: 1px solid var(--disabled-color);
  --light-border: 2px solid var(--main-bg);
  --box-shadow: 0 4px 6px var(--box-shadow-color);
  --box-shadow-active: 0 -4px 6px var(--box-shadow-color);
  --transition: all 250ms linear;
}
